<section class="ticBody">
  <h1>The Game</h1>

  <div class="ticRow">
    <div boxNum='1' box-directive class="ticBox"></div>
    <div boxNum='2' box-directive class="ticBox"></div>
    <div boxNum='3' box-directive class="ticBox"></div>
  </div>
  <div class="ticRow">
    <div boxNum='4' box-directive class="ticBox"></div>
    <div boxNum='5' box-directive class="ticBox"></div>
    <div boxNum='6' box-directive class="ticBox"></div>
  </div>
  <div class="ticRow">
    <div boxNum='7' box-directive class="ticBox"></div>
    <div boxNum='8' box-directive class="ticBox"></div>
    <div boxNum='9' box-directive class="ticBox"></div>
  </div>
</section>
